name: 'Repo Automator'
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - edited
      - converted_to_draft
      - ready_for_review
    branches:
      - main

jobs:
  Validate:
    runs-on: ubuntu-latest
    steps:
      - uses: 10up/action-repo-automator@update-npm-dependencies
        with:
          fail-label: needs:feedback
          pass-label: needs:code-review
          reviewer: iamdharmesh
          sync-pr-branch: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
